.single-movie--container{
    position:fixed;
    top: 0;
    right: 0;
    width: 700px;
    height: 100vh;
    background:#fff;
    overflow: auto;
}

.single-movie--image{
    width: 100%;
    max-height: 300px;
}

.single-movie--desc,
.single-movie--heading{
    padding:15px;
    line-height: 25px;
    clear: both;
}

.close-single{
    position: absolute;
    top: 0;
    background:red;
    color:#fff;
}

.edit-btn,
.dlt-btn{
    float: right;
    margin-top: -5px;
    background:rgb(17, 17, 255);
    color:#fff;
}

.dlt-btn{
    background:rgb(255, 17, 17);
}


